// Vars

:root {
  // base
  --primary-txt-color: #0E1116;
  --secondary-txt-color: #EEF8FC;

  --heading-color: #22577A;
  --link-color: #38A3A5;
  --menu-link-color: var(--sl-color-primary-200);

  --body-bg: #EEF8FC;

  --primary-font-family: 'Inter', sans-serif;
  --secondary-font-family: 'Raleway', sans-serif;


  // colors  
  $brand-color: #22577A;
  --brand-color: #{$brand-color};

  // shoelace tokens
  // full list here:
  // https://github.com/shoelace-style/shoelace/blob/current/src/styles/base.scss
  --sl-color-primary-50: #{lighten($brand-color, 50%)};
  --sl-color-primary-100: #{lighten($brand-color, 40%)};
  --sl-color-primary-200: #{lighten($brand-color, 30%)};
  --sl-color-primary-300: #{lighten($brand-color, 20%)};
  --sl-color-primary-400: #{lighten($brand-color, 10%)};
  --sl-color-primary-500: #{$brand-color};
  --sl-color-primary-600: #{darken($brand-color, 10%)};
  --sl-color-primary-700: #{darken($brand-color, 20%)};
  --sl-color-primary-800: #{darken($brand-color, 30%)};
  --sl-color-primary-900: #{darken($brand-color, 40%)};
  --sl-focus-ring-color-primary: #{rgba($brand-color, 0.1)};
}